DATABASE_URL=YOUR_DB_URL
REDIS_URL=YOUR_REDIS_URL
RABBITMQ_URL=YOUR_RABBITMQ_URL
RABBITMQ_USER=YOUR_RABBITMQ_USER
RABBITMQ_PASS=YOUR_RABBITMQ_PASSWORD
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=YOUR_POSTGRES_DB
LANGFUSE_SECRET_KEY=YOUR_LANGFUSE_SECRET_KEY
LANGFUSE_PUBLIC_KEY=YOUR_LANGFUSE_PUBLIC_KEY
LANGFUSE_HOST=YOUR_LANGFUSE_HOST
SECRET_KEY=YOUR_JWT_SECRET
MODEL_PATH=YOUR_MODEL_PATH